.logo {
  max-width: 50px;
  padding: 0.5em;
}

.image-event {
  width: auto;
  height: 100px;
  overflow: hidden;
}

.image-event img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  padding-bottom: 2px;
}

.content {
  padding: 1em;
}

.container-app {
  padding: 0;
}